@keyframes loading0 {
  0% {
    transform: scaleX(0);
  }
  40%,
  100% {
    transform: scaleX(1);
  }
}

@keyframes loading5 {
  0%,
  5% {
    transform: scaleX(0);
  }
  45%,
  100% {
    transform: scaleX(1);
  }
}

@keyframes loading10 {
  0%,
  10% {
    transform: scaleX(0);
  }
  50%,
  100% {
    transform: scaleX(1);
  }
}

@keyframes loading40 {
  0%,
  40% {
    transform: scaleX(0);
  }
  80%,
  100% {
    transform: scaleX(1);
  }
}
