/** biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind specific */
/** biome-ignore-all lint/correctness/noUnknownProperty: DaisyUI specific */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: false;
}
@plugin "./catppuccinTheme.latte.ts";
@plugin "./catppuccinTheme.frappe.ts";

@theme {
  --font-sans:
    "avenir-next-lt-pro", "m-plus-2c", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-base-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
